/*  --------------- Box Sizing -----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  --------------- Responsive Images -----------------  */

img {
  max-width: 100%;
  height: auto;
}

/*  --------------- Utility Classes -----------------  */
.container {
  max-width: 80vw;
  margin: 40px auto;
}

/*  --------------- Global Styles -----------------  */

body {
  font-family: "Gabarito", sans-serif;
  background-color: rgb(14, 14, 26);
  margin: 0;
}

header.primary {
  /*
  background-color:rgb(247, 244, 72);
  */
  background-image: url("../img/odyssey.png");
  padding: 30px 30px 20px 30px;
}

header.primary h1 {
  text-shadow: 3px 2px #000;
  text-align: center;
}

header.primary h1 a {
  font-size: 6rem;
  color: rgb(204, 102, 195);
  transition: 0.1s;
}

.replace-logo {
  width: 300px;
  height: 93px;
  margin-right:auto;
  background: url("../img/Omega_Strikers_Logo.webp");
  text-indent: 100%;
  display: block;
  margin: 20px auto;
  white-space: nowrap;
  overflow: hidden;
}

header.primary h1 a:hover {
  font-size: 6.1rem;
  color: #ffffff;
}

header.primary h2 {
  color: rgb(204, 102, 195);
  font-style: italic;
  text-align: center;
  text-shadow: 3px 2px #000;
  font-size: 2rem;
  margin: 20px;
  transition: 0.7s;
}

header.primary h2:hover {
  font-size: 2.05rem;
}

header.primary nav {
  color: black;
}

header.primary nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

header.primary nav ul li {
  list-style-type: none;
}

header.primary nav ul li a {
  color: rgb(204, 102, 195);
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  font-size: 2rem;
  border: 1px solid #696969;
  border-radius: 25px;
  transition: 0.2s;
}

header.primary nav ul li a:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2.4rem;
}

header.primary nav ul li a:active {
  background-color: rgba(0, 0, 0, 1);
  font-size: 2.5rem;
}

#content {
  color: #ffffff;
  margin: auto;
  font-size:20px;
  line-height:30px;
}

.top h2 {
  display:block;
  text-align:center;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

.list dd{
  margin-bottom:20px;
}

footer.primary {
  text-align:center;
  background-color:rgb(39, 66, 48);
  color: #ffffff;
  padding: 10px;
}
